
<hr/>
<h1>{{titulo}}</h1>
<hr/>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Editar Seccion</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-6">
                    <div class="col-md-6">
                        <label>Codigo</label>
                        <input type="text"  name="codigo" [(ngModel)]="category.code">
                        <label>Nombre</label>
                        <input type="text"  name="name"   [(ngModel)]="category.name">
                    </div>
                    <div class="col-md-6">
                        <label>Codigo Materia Prima</label>
                        <input type="text"  name="maxStock"   [(ngModel)]="category.rawmatterCode">
                    </div>
                    <div class="col-md-6">
                        <label>Descripcion</label>
                        <textarea type="text"  name="description" [(ngModel)]="category.description"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-6">
                    <button class="btn-primary" (click)='editcategory()' data-dismiss="modal">
                        Update
                    </button>
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Hex-->

<div class="container">
    <div class="row">
        <div class="panel with-nav-tabs panel-default">
            <div class="panel-heading">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tabIndex" data-toggle="tab">Index</a></li>
                    <li><a href="#tabNew" data-toggle="tab">Agregar</a></li>
                </ul>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tabIndex">
                        <div class="container">
                            <div>
                                <table class="table table-striped custab">
                                    <thead>
                                    <tr>
                                        <th>Codigo</th>
                                        <th>Nombre</th>
                                        <th>Descripcion</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let category of categoryList">
                                        <td>{{category.code}}</td>
                                        <td>{{category.name}}</td>
                                        <td>{{category.decription}}</td>

                                        <td class="text-center">
                                            <a href="#"  name="botonModal-{{category.code}}"class="btn btn-success btn-sm" data-toggle="modal" data-target="#editModal"
                                               (click)='modalEdit(category.code,category.name,category.rawmattercode.name,category.description)'>
                                                Editar
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tabNew">
                        <h1>Agregar Categoria</h1>
                        <form #registerForm="ngForm" (ngSubmit)="onSubmit()">
                            <div class="col-md-5">
                                <p>
                                    <label>codigo:</label>
                                    <input type="code" class="form-control" #code="ngForm" ngControl="code"
                                           [(ngModel)]="category.code" required/>
                                    <span *ngIf="!code.valid">campo obligatorio</span>
                                </p>
                            </div>
                            <div class="col-md-5">
                                <p>
                                    <label>nombre:</label>
                                    <input type="name" class="form-control" #name="ngForm" ngControl="name"
                                           [(ngModel)]="category.name" required/>
                                    <span *ngIf="!name.valid">campo obligatorio</span>
                                </p>
                            </div>

                            <div class="col-md-5">
                                <p>
                                    <label>descripcion:</label>
                                    <textarea type="description" class="form-control" style="resize:none" rows="7"
                                              #description="ngForm"
                                              ngControl="description" [(ngModel)]="category.description"
                                              required></textarea>
                                    <span *ngIf="!description.valid">campo obligatorio</span>
                                </p>
                            </div>
                            <div class="col-md-10">
                                <input type="submit" value="Agregar" class="btn btn-primary"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
