<html>

<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="editTitleModal">Editar Cliente</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-6">
                    <form #registerForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-12">
                        <div class="col-lg-6">
                            <!--{"title": "sr",-->
                            <!--"name": "Gessy",-->
                            <!--"lastnamepaternal": "Avila",-->
                            <!--"lastnamematernal": "Quezada",-->
                            <!--"category": "Premium",-->
                            <p>
                                <label>Titulo:</label>
                                <input class="form-control" #title="ngForm" ngControl="title" [(ngModel)]="client.title" required />
                                <span *ngIf="!title.valid">campo obligatorio</span>
                            </p>
                            <p>
                                <label>Nombre:</label>
                                <input class="form-control" #name="ngForm" ngControl="name" [(ngModel)]="client.name" required />
                                <span *ngIf="!name.valid">campo obligatorio</span>
                            </p>
                            <p>
                                <label>Apellido Paterno:</label>
                                <input class="form-control" #lastnamepaternal="ngForm" ngControl="lastnamepaternal" [(ngModel)]="client.lastnamepaternal" required />
                                <span *ngIf="!lastnamepaternal.valid">campo obligatorio</span>
                            </p>
                            <p>
                                <label>Apellido Materno:</label>
                                <input class="form-control" #lastnamematernal="ngForm" ngControl="lastnamematernal" [(ngModel)]="client.lastnamematernal" required />
                                <span *ngIf="!lastnamematernal.valid">campo obligatorio</span>
                            </p>
                            <p>
                                <label>Category:</label>
                                <select class="form-control" id="category">
                                    <option data-tokens="Premium">Premium</option>
                                    <option data-tokens="Normal">Normal</option>
                                    <option data-tokens="Casual">Casual</option>
                                </select>
                            </p>
                        </div>
                        <div class="col-lg-6">
                            <!--"rfc": "123456789",-->
                            <!--"company": "lifesoft",-->
                            <!--"billadress": "Tquintero",-->
                            <!--"colony": "ColonyJalisco",-->
                            <!--"state": "Jalisco",-->
                            <p>
                                <label>RFC:</label>
                                <input class="form-control" #rfc="ngForm" ngControl="rfc" [(ngModel)]="client.rfc" required />
                                <span *ngIf="!rfc.valid">campo obligatorio</span>
                            </p>
                            <p>
                                <label>Company:</label>
                                <input class="form-control" #company="ngForm" ngControl="company" [(ngModel)]="client.company" required />
                                <span *ngIf="!company.valid">campo obligatorio</span>
                            </p>
                            <p>
                                <label>Direccion de Facturacion:</label>
                                <input class="form-control" #billadress="ngForm" ngControl="billadress" [(ngModel)]="client.billadress" required />
                                <span *ngIf="!billadress.valid">campo obligatorio</span>
                            </p>
                            <p>
                                <label>Colonia:</label>
                                <input class="form-control" #colony="ngForm" ngControl="colony" [(ngModel)]="client.colony" required />
                                <span *ngIf="!colony.valid">campo obligatorio</span>
                            </p>
                            <p>
                                <label>Estado:</label>
                                <input class="form-control" #state="ngForm" ngControl="state" [(ngModel)]="client.state" required />
                                <span *ngIf="!state.valid">campo obligatorio</span>
                            </p>
                        </div>
                        <div class="col-lg-12">
                            <!--"city": "Guadalajara",-->
                            <!--"pc": "12345",-->
                            <!--"commentary": "comentario"}-->
                            <p>
                                <label>Ciudad:</label>
                                <input class="form-control" #city="ngForm" ngControl="city" [(ngModel)]="client.city" required />
                                <span *ngIf="!city.valid">campo obligatorio</span>
                            </p>
                            <p>
                                <label>Codigo Postal:</label>
                                <input class="form-control" #pc="ngForm" ngControl="pc" [(ngModel)]="client.pc" required />
                                <span *ngIf="!pc.valid">campo obligatorio</span>
                            </p>
                            <p>
                                <label>Comentario:</label>
                                <input class="form-control" #commentary="ngForm" ngControl="commentary" [(ngModel)]="client.commentary" required />
                                <span *ngIf="!commentary.valid">campo obligatorio</span>
                            </p>
                        </div>
                    </form>

                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-6">
                    <button class="btn-primary" (click)='editClient()' data-dismiss="modal">
                        Update
                    </button>
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Hex-->
<!-- AddPhoneModal -->
<div class="modal fade" id="addPhoneModal" tabindex="-1" role="dialog" aria-labelledby="addPhoneModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="addPhoneModalLabel">Agregar Telefono</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-6">
                    <form #registerForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-12">

                        <p>
                            <label>Phone:</label>
                            <input class="form-control" #number="ngForm" ngControl="number" [(ngModel)]="phone.number"
                                   required/>
                        </p>
                        <p>
                            <label>Descripcion:</label>
                            <input class="form-control" #description="ngForm" ngControl="description"
                                   [(ngModel)]="phone.description" required/>
                        </p>

                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-6">
                    <button class="btn-primary" (click)='newPhone()' data-dismiss="modal">
                        Update
                    </button>
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Hex-->
<!-- AddEmailModal -->
<div class="modal fade" id="addEmailModal" tabindex="-1" role="dialog" aria-labelledby="addEmailModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="addEmailModalLabel">Agregar Correo</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-6">
                    <form #registerForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-12">
                        <p>
                            <label>Email:</label>
                            <input class="form-control" #email="ngForm" ngControl="email" [(ngModel)]="correocorreo"
                                   required/>
                        </p>
                        <p>
                            <label>Descripcion:</label>
                            <input class="form-control" #description="ngForm" ngControl="description"
                                   [(ngModel)]="descripcioncorreo" required/>
                        </p>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-6">
                    <button class="btn-primary" (click)='newEmail()' data-dismiss="modal">
                        Create
                    </button>
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Hex-->
<!-- EditPhoneModal -->
<div class="modal fade" id="phoneEditModal" tabindex="-1" role="dialog" aria-labelledby="phoneEditModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="phoneEditModalLabel">Editar Telefono</h4>
            </div>
            <div class="modal-body">
                    <form #registerForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-12">
                        <div class="col-lg-6">
                            <p>
                                <label>Phone:</label>
                                <input class="form-control" #number="ngForm" ngControl="number" [(ngModel)]="phone.number" required />
                            </p>
                            <p>
                                <label>Descripcion:</label>
                                <input class="form-control" #description="ngForm" ngControl="description" [(ngModel)]="phone.description" required />
                            </p>
                        </div>
                    </form>
            </div>
            <div class="modal-footer">
                <div class="col-md-6">
                    <button class="btn-primary" (click)='editPhone()' data-dismiss="modal">
                        Update
                    </button>
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Hex-->
<!-- EditEmailModal -->
<div class="modal fade" id="emailEditModal" tabindex="-1" role="dialog" aria-labelledby="emailEditModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="emailEditModalLabel">Editar Correo</h4>
            </div>
            <div class="modal-body">
                    <form #registerForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-12">
                        <div class="col-lg-6">
                            <p>
                                ID: {{email.id}}
                            </p>
                            <p>
                                <label>Email:</label>
                                <input class="form-control" #email="ngForm" ngControl="email" [(ngModel)]="correocorreo" required />
                            </p>
                            <p>
                                <label>Descripcion:</label>
                                <input class="form-control" #description="ngForm" ngControl="description" [(ngModel)]="descripcioncorreo" required />
                            </p>
                        </div>

                    </form>

            </div>
            <div class="modal-footer">
                    <button class="btn-primary" (click)='editEmail()' data-dismiss="modal">
                        Update
                    </button>
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
                        Close
                    </button>
            </div>
        </div>
    </div>
</div>
<!--Hex-->
<div class="col-md-12">
    <hr/>
    <h1>{{titulo}}</h1>
    <hr/>

    <div class="panel-group">
        <div class="panel panel-success">
            <div class="panel panel-heading">
                Informacion General
            </div>
            <div class="panel-body">
                <li>ID:<ui>{{client.id}}</ui></li>
                <li>Nombre:<ui>{{client.name}}</ui></li>
                <li>apellidoP:<ui>{{client.lastnamepaternal}}</ui></li>
                <li>apellidoM:<ui>{{client.lastnamematernal}}</ui></li>
                <li>RFC:<ui>{{client.rfc}}</ui></li>
                <li>Commentary:<ui>{{client.commentary}}</ui></li>

                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div align="justify" class="panel panel-heading">
                            Telefonos
                            <span class="pull-right clickable">
                                <button name="botonAddPhoneModal" data-toggle="modal" data-target="#addPhoneModal" class="glyphicon glyphicon-plus btn-success">Add</button>
                            </span>
                        </div>
                        <div class="panel-body">
                            <div *ngIf="phoneList">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Numero</th>
                                        <th>descripcion</th>
                                        <th class="text-center">Opcion</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let phone of phoneList">
                                        <td>{{phone.id}}</td>
                                        <td>{{phone.number}}</td>
                                        <td>{{phone.description}}</td>
                                        <td class="text-center">
                                            <a href="#"  name="botonPhoneEditModal-{{phone.id}}"class="glyphicon glyphicon-edit btn btn-success btn-sm" data-toggle="modal" data-target="#phoneEditModal"
                                               (click)='modalEditPhone(phone.id,phone.number,phone.description)'>
                                                Edit
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel panel-heading">
                            Correos
                            <span class="pull-right clickable">
                                <button name="botonAddEmailModal" data-toggle="modal" data-target="#addEmailModal" class="glyphicon glyphicon-plus btn-success">Add</button>
                            </span>
                        </div>
                        <div class="panel-body">
                            <div *ngIf="emailList">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Email</th>
                                        <th>descripcion</th>
                                        <th class="text-center">Opcion</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let email of emailList">
                                        <td>{{email.id}}</td>
                                        <td>{{email.email}}</td>
                                        <td>{{email.description}}</td>
                                        <td class="text-center">
                                            <a href="#"  name="botonPhoneEditModal-{{email.id}}"class="glyphicon glyphicon-edit btn btn-success btn-sm" data-toggle="modal" data-target="#emailEditModal"
                                               (click)='modalEditEmail(email.id,email.email,email.description)'>
                                                Edit
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel panel-heading">
                            CC
                            <span class="pull-right clickable">
                                <button class="glyphicon glyphicon-plus btn-success">Add</button>
                            </span>
                        </div>
                        <div class="panel-body">
                            <div *ngIf="cardList">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Numero</th>
                                        <th>Nombre del banco</th>
                                        <th class="text-center">Opcion</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let card of cardList">
                                        <td>{{card.cardcol}}</td>
                                        <td>{{card.number}}</td>
                                        <td>{{card.nombre}}</td>
                                        <td class="text-center">
                                            More
                                        </td>

                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="panel panel-footer" align="right">
                <a href="#"  name="botonEditModal"class="glyphicon glyphicon-edit btn btn-success btn-sm" data-toggle="modal" data-target="#editModal">Edit</a>
            </div>
        </div>
        <div class="panel panel-success">
            <div class="panel panel-heading">
                Informacion Compras
            </div>
            <div class="panel-body">
                <div class="col-md-5">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Fecha Compra</th>
                            <th>Fecha Entrega</th>
                            <th>Accion</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>2016-01-01</td>
                            <td>2016-01-02</td>
                            <td><a class='btn btn-info btn-xs' ><span
                                    class="glyphicon glyphicon-edit"></span> More</a></td>

                        </tr>
                        <tr>
                            <td>2</td>
                            <td>2016-01-02</td>
                            <td>2016-01-03</td>
                            <td><a class='btn btn-info btn-xs' ><span
                                    class="glyphicon glyphicon-edit"></span> More</a></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>2016-01-03</td>
                            <td>2016-01-04</td>
                            <td><a class='btn btn-info btn-xs' ><span
                                    class="glyphicon glyphicon-edit"></span> More</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-7">
                    <div class="panel panel-default">
                        <div class="panel-heading">Detalles Pedido</div>
                        <div class="panel-body">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Cantidad</th>
                                    <th>Mercancia</th>
                                    <th>Precio/U</th>
                                    <th>Detalle</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Mercancia01</td>
                                    <td>150.00</td>
                                    <td>Detalle01</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Mercancia02</td>
                                    <td>250.00</td>
                                    <td>Detalle02</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Mercancia03</td>
                                    <td>350.00</td>
                                    <td>Detalle03</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>