<div class="col-md-12">
    <hr/>
    <h1>{{titulo}}</h1>
    <hr/>

    <div class="container">
        <div class="panel with-nav-tabs panel-default">
            <div class="panel-heading">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tabIndex" data-toggle="tab">Index</a></li>
                    <li><a href="#tabNew" data-toggle="tab">Nuevo</a></li>
                </ul>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tabIndex">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Titulo</th>
                                <th>Nombre</th>
                                <th>ApellidoP</th>
                                <th>ApellidoM</th>
                                <th class="text-center">Opcion</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let client of clientList">
                                <td>{{client.id}}</td>
                                <td>{{client.title}}</td>
                                <td>{{client.name}}</td>
                                <td>{{client.lastnamepaternal}}</td>
                                <td>{{client.lastnamematernal}}</td>

                                <td class="text-center">
                                    <a class="navbar-link" href="#" [routerLink]="['/client/info/'+client.id]">
                                        <span class="glyphicon glyphicon-plus btn-sm btn-success">More</span>
                                    </a>
                                </td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="tabNew">
                        <form #registerForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-12">
                            <div class="col-lg-6">
                                <!--{"title": "sr",-->
                                <!--"name": "Gessy",-->
                                <!--"lastnamepaternal": "Avila",-->
                                <!--"lastnamematernal": "Quezada",-->
                                <!--"category": "Premium",-->
                                <p>
                                    <label>Titulo:</label>
                                    <input class="form-control" #title="ngForm" ngControl="title" [(ngModel)]="client.title" required />
                                    <span *ngIf="!title.valid">campo obligatorio</span>
                                </p>
                                <p>
                                    <label>Nombre:</label>
                                    <input class="form-control" #name="ngForm" ngControl="name" [(ngModel)]="client.name" required />
                                    <span *ngIf="!name.valid">campo obligatorio</span>
                                </p>
                                <p>
                                    <label>Apellido Paterno:</label>
                                    <input class="form-control" #lastnamepaternal="ngForm" ngControl="lastnamepaternal" [(ngModel)]="client.lastnamepaternal" required />
                                    <span *ngIf="!lastnamepaternal.valid">campo obligatorio</span>
                                </p>
                                <p>
                                    <label>Apellido Materno:</label>
                                    <input class="form-control" #lastnamematernal="ngForm" ngControl="lastnamematernal" [(ngModel)]="client.lastnamematernal" required />
                                    <span *ngIf="!lastnamematernal.valid">campo obligatorio</span>
                                </p>
                                <p>
                                    <label>Category:</label>
                                    <select class="form-control" id="category">
                                        <option data-tokens="Premium">Premium</option>
                                        <option data-tokens="Normal">Normal</option>
                                        <option data-tokens="Casual">Casual</option>
                                    </select>
                                </p>
                            </div>

                            <div class="col-lg-6">
                                <!--"rfc": "123456789",-->
                                <!--"company": "lifesoft",-->
                                <!--"billadress": "Tquintero",-->
                                <!--"colony": "ColonyJalisco",-->
                                <!--"state": "Jalisco",-->
                                <p>
                                    <label>RFC:</label>
                                    <input class="form-control" #rfc="ngForm" ngControl="rfc" [(ngModel)]="client.rfc" required />
                                    <span *ngIf="!rfc.valid">campo obligatorio</span>
                                </p>
                                <p>
                                    <label>Company:</label>
                                    <input class="form-control" #company="ngForm" ngControl="company" [(ngModel)]="client.company" required />
                                    <span *ngIf="!company.valid">campo obligatorio</span>
                                </p>
                                <p>
                                    <label>Direccion de Facturacion:</label>
                                    <input class="form-control" #billadress="ngForm" ngControl="billadress" [(ngModel)]="client.billadress" required />
                                    <span *ngIf="!billadress.valid">campo obligatorio</span>
                                </p>
                                <p>
                                    <label>Colonia:</label>
                                    <input class="form-control" #colony="ngForm" ngControl="colony" [(ngModel)]="client.colony" required />
                                    <span *ngIf="!colony.valid">campo obligatorio</span>
                                </p>
                                <p>
                                    <label>Estado:</label>
                                    <input class="form-control" #state="ngForm" ngControl="state" [(ngModel)]="client.state" required />
                                    <span *ngIf="!state.valid">campo obligatorio</span>
                                </p>
                            </div>
                            <div class="col-lg-12">
                                <!--"city": "Guadalajara",-->
                                <!--"pc": "12345",-->
                                <!--"commentary": "comentario"}-->
                                <p>
                                    <label>Ciudad:</label>
                                    <input class="form-control" #city="ngForm" ngControl="city" [(ngModel)]="client.city" required />
                                    <span *ngIf="!city.valid">campo obligatorio</span>
                                </p>
                                <p>
                                    <label>Codigo Postal:</label>
                                    <input class="form-control" #pc="ngForm" ngControl="pc" [(ngModel)]="client.pc" required />
                                    <span *ngIf="!pc.valid">campo obligatorio</span>
                                </p>
                                <p>
                                    <label>Comentario:</label>
                                    <input class="form-control" #commentary="ngForm" ngControl="commentary" [(ngModel)]="client.commentary" required />
                                    <span *ngIf="!commentary.valid">campo obligatorio</span>
                                </p>
                            </div>
                            <div class="col-md-10">
                                <input type="submit" value="Crear" class="btn btn-primary"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
