<div class="col-md-12">

    <!--
    <a href="#" class="btn btn-lg btn-success" data-toggle="modal" data-target="#basicModal">
        Click to open Modal
    </a>
    <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&amp;times;</button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    <h3>Modal Body</h3>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    -->
    <!--<h1>{{titulo}}</h1>-->

    <!--<div *ngIf="!identity || identity">-->
        <!--Inicia session para acceder a mas opciones-->
    <!--</div>-->

    <!--<div *ngIf="identity && identity != null">-->
        <!--Bienvenido {{identity.name}}, <a [routerLink]="['/index']">Entra a tu canal</a> o-->
        <!--<a [routerLink]="['/index']">Crea un nuevo video</a>-->
    <!--</div>-->

    <img src="./assets/images/quetzalthum.png" class="img-responsive center-block" alt="Quetzal">





</div>