<div class="col-md-12">
    <hr/>
    <h1>{{titulo}}</h1>
    <hr/>

    <div class="container">
        <div class="row">
            <div class="panel with-nav-tabs panel-default">
                <div class="panel-heading">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tabIndex" data-toggle="tab">Index</a></li>
                        <li><a href="#tabNew" data-toggle="tab">Nuevos</a></li>
                        <!--Pestaña para Editar remover o no remover?-->
                        <!--<li><a href="#tabEdit" data-toggle="tab">Editar</a></li>-->
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tabIndex">
                            Index
                            <div class="container">
                                <div>
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Nombre</th>
                                                <th>Descripcion</th>
                                                <th class="text-center">Opcion</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let seccion of seccionList">
                                                <td>{{seccion.id}}</td>
                                                <td>{{seccion.name}}</td>
                                                <td>{{seccion.description}}</td>

                                                <td class="text-center">
                                                    <!--<a class='btn btn-info btn-xs' href="{{'/departmentcontent/'+department.id}}"><span
                                                                class="glyphicon glyphicon-edit"></span> More</a></td>-->
                                                        <a class="navbar-link" href="#" [routerLink]="['/departmentcontent/'+seccion.id]">
                                                            <span class="glyphicon glyphicon-plus"></span>More
                                                        </a>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tabNew">
                            <form #registerForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-5">
                                <p>
                                    <label>Nombre:</label>
                                    <input type="name" class="form-control" #name="ngForm" ngControl="name" [(ngModel)]="seccion.name" required />
                                    <span *ngIf="!name.valid">campo obligatorio</span>
                                </p>
                                <p>
                                    <label>Descripcion:</label>
                                    <input type="description" class="form-control" #description="ngForm" ngControl="description" [(ngModel)]="seccion.description" required />
                                    <span *ngIf="!description.valid">campo obligatorio</span>

                                </p>
                                <div class="col-md-10">
                                    <input type="submit" value="Crear" class="btn btn-primary"/>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="tabEdit">
                            Edit
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>