<html>
<!--Hex Ventana modal para agregar PopUp-->
<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&amp;X;</button>
                <h4 class="modal-title" id="myModalLabel">Agregar producto a Seccion</h4>
            </div>
            <div class="modal-body">
                <h3>Nombre: {{pod.productoName }}</h3>
                <h3>ID: {{pod.productoId }}</h3>
                <h1> Cantidad </h1>
                <input type="number" min="0" name="cantidad" [(ngModel)]="pod.cantidad">
            </div>
            <div class="modal-footer">
                <button class="btn-primary" (click)='addProduct(pod.cantidad)' data-dismiss="modal">
                    Add
                </button>
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<!--Hex-->
</html>

