<header id="header">
    <div class="navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand"[routerLink]="['/index']">
                    <img src="./assets/images/logo.png" height="80" style="margin-top: -15px;"/>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a class="navbar-brand"[routerLink]="['/index']">Home</a></li>
                        <!--<a class="navbar-brand"[routerLink]="['/Logistica']" *ngIf="identity">Logistica</a>  -->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                Logistica<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <!--agregar sub menus-->
                                <li>Secciones ></li>
                                <li>
                                    <a [routerLink]="['/seccion']"><span aria-hidden="true"></span>Seccion</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/seccioncontent/1']"><span aria-hidden="true"></span>Material de Secciones</a>
                                </li>
                                <li>RawMatter ></li>
                                <li>
                                    <a [routerLink]="['/rawmatter']"><span aria-hidden="true"></span>Materia Prima</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/category/1']"><span aria-hidden="true"></span>Category</a>
                                </li>
                                <li>Proveedores ></li>
                                <li>
                                    <a [routerLink]="['/supplier']"><span aria-hidden="true"></span>Proveedores</a>
                                </li>

                                <!--<li>-->
                                    <!--<a [routerLink]="['/merch']"><span aria-hidden="true"></span>Producto Final</a>-->
                                <!--</li>-->

                                <li>
                                    <a [routerLink]="['/orders']"><span aria-hidden="true"></span>Pedidos</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/ordersdetails']"><span aria-hidden="true"></span>Detalles de Pedidos </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                Ventas<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <!--<a [routerLink]="['/sale']"><span aria-hidden="true"></span>Ventas</a>-->
                                </li>

                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                Clientes<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a [routerLink]="['/client']"><span aria-hidden="true"></span>Clientes</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/clientinfo/1']"><span aria-hidden="true"></span>Informacion</a>
                                </li>
                            </ul>

                        </li>
                </ul>
                <ul *ngIf="identity" class="nav navbar-nav navbar-right" id="credentials-top">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            {{identity.email}}<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a [routerLink]="['/index']"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Mi Canal</a>
                            </li>
                            <li>
                                <a [routerLink]="['/index']"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>Ajustes</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a [routerLink]="['/login/1']"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>Salir</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul *ngIf="!identity" class="nav navbar-nav navbar-right">
                    <li><a class="navbar-brand"[routerLink]="['/login']">Login</a> </li>
                    <li><a class="navbar-brand"[routerLink]="['/register']">Register</a> </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<div class="clearfix"></div>

<section class="main">
    <router-outlet></router-outlet>
    <div class="clearfix">

    </div>
</section>
