<div class="col-md-12">
    <hr/>
    <h1>{{titulo}}</h1>
    <hr/>

    <div class="col-md-12">
        <div class="panel with-nav-tabs panel-default">
            <div class="panel-heading">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tabIndex" data-toggle="tab">index</a></li>
                    <li><a href="#tabNew" data-toggle="tab">Nueva</a></li>
                </ul>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tabIndex">
                        <div class="panel panel-success">
                            <div class="panel panel-heading">
                                Informacion de Producto
                            </div>
                            <div class="panel-body">
                                <div class="col-md-5">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Nombre</th>
                                            <th>Precio Venta</th>
                                            <th>Accion</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Producto 1</td>
                                            <td>1000.00</td>
                                            <td><a class='btn btn-info btn-xs' ><span
                                                    class="glyphicon glyphicon-plus"></span> More</a>
                                                <a class='btn btn-info btn-xs' ><span
                                                        class="glyphicon glyphicon-edit"></span> Edit</a></td>

                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Producto 2</td>
                                            <td>2000.00</td>
                                            <td><a class='btn btn-info btn-xs' ><span
                                                    class="glyphicon glyphicon-plus"></span> More</a>
                                                <a class='btn btn-info btn-xs' ><span
                                                        class="glyphicon glyphicon-edit"></span> Edit</a></td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Producto 3</td>
                                            <td>3000.00</td>
                                            <td><a class='btn btn-info btn-xs' ><span
                                                    class="glyphicon glyphicon-plus"></span> More</a>
                                                <a class='btn btn-info btn-xs' ><span
                                                        class="glyphicon glyphicon-edit"></span> Edit</a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-7">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">Detalles Producto</div>
                                        <div class="panel-body">
                                            <table class="table table-striped">
                                                <thead>
                                                <tr>
                                                    <th>Producto</th>
                                                    <th>cantidad</th>
                                                    <th>Precio/U</th>
                                                    <th>Accion</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>Producto01</td>
                                                    <td>1</td>
                                                    <td>150.00</td>
                                                    <td><a class='btn btn-info btn-xs' ><span
                                                            class="glyphicon glyphicon-edit"></span> Edit</a></td>
                                                </tr>
                                                <tr>
                                                    <td>Producto02</td>
                                                    <td>2</td>
                                                    <td>250.00</td>
                                                    <td><a class='btn btn-info btn-xs' ><span
                                                            class="glyphicon glyphicon-edit"></span> Edit</a></td>
                                                </tr>
                                                <tr>
                                                    <td>Producto03</td>
                                                    <td>3</td>
                                                    <td>350.00</td>
                                                    <td><a class='btn btn-info btn-xs' ><span
                                                            class="glyphicon glyphicon-edit"></span> Edit</a></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tabNew">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                Datos de Mercancia
                            </div>
                            <div>
                                <div class="col-md-12">
                                    <form #registerForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-5">
                                        <div class="col-md-6">
                                            <p>
                                                <label>Nombre:</label>
                                                <input type="nombre" class="form-control"/>

                                            </p>
                                        </div>
                                        <div class="col-md-6">
                                            <p>
                                                <label>Precio:</label>
                                                <input type="precio" class="form-control"/>

                                            </p>
                                        </div>
                                        <div class="col-md-12">
                                            <p>
                                                <label>Descripcion:</label>
                                                <textarea style="resize:none" class="form-control" rows="3" id="comment"></textarea>
                                            </p>
                                        </div>
                                        <div class="col-md-12">
                                            <input type="submit" value="Crear" class="btn btn-primary"/>
                                        </div>
                                    </form>
                                    <!--

                                    -->
                                    <div class="col-md-6">
                                        componentes a elejir
                                        <table class="table table-striped custab">
                                            <thead>
                                            <tr>
                                                <th>Codigo</th>
                                                <th>Nombre</th>
                                                <th>Cantidad</th>
                                                <th class="text-center">Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <!--<tr *ngFor="let product of productList">-->
                                            <tr>
                                                <td>1234567890</td>
                                                <td>Producto01</td>
                                                <td>
                                                    <input type="number" id="replyNumber" min="0" data-bind="value:replyNumber" />
                                                </td>
                                                <td class="text-center"><a class='btn btn-primary btn-xs' href="/#"><span
                                                        class="glyphicon glyphicon-plus"></span> Add</a></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="col-md-12">
                                        componentes de la mercancia
                                        <table class="table table-striped custab">
                                            <thead>
                                            <tr>
                                                <th>Codigo</th>
                                                <th>Nombre</th>
                                                <th>Cantidad</th>
                                                <th class="text-center">Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <!--<tr *ngFor="let product of productList">-->
                                            <tr>
                                                <td>1234567890</td>
                                                <td>Producto 01</td>
                                                <td>10</td>
                                                <td class="text-center">
                                                    <a class='btn btn-primary btn-xs' href="/index"><span
                                                            class="glyphicon glyphicon-edit"></span> Edit</a>
                                                    <a class='btn btn-primary btn-xs' href="/index"><span
                                                            class="glyphicon glyphicon-plus"></span> Agregar</a>
                                                    <a class='btn btn-primary btn-xs' href="/index"><span
                                                            class="glyphicon glyphicon-minus"></span> Remover</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>2345678901</td>
                                                <td>Producto 02</td>
                                                <td>10</td>
                                                <td class="text-center">
                                                    <a class='btn btn-primary btn-xs' href="/index"><span
                                                            class="glyphicon glyphicon-edit"></span> Edit</a>
                                                    <a class='btn btn-primary btn-xs' href="/index"><span
                                                            class="glyphicon glyphicon-plus"></span> Agregar</a>
                                                    <a class='btn btn-primary btn-xs' href="/index"><span
                                                            class="glyphicon glyphicon-minus"></span> Remover</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>3456789012</td>
                                                <td>Producto 03</td>
                                                <td>10</td>
                                                <td class="text-center">
                                                    <a class='btn btn-primary btn-xs' href="/index"><span
                                                            class="glyphicon glyphicon-edit"></span> Edit</a>
                                                    <a class='btn btn-primary btn-xs' href="/index"><span
                                                            class="glyphicon glyphicon-plus"></span> Agregar</a>
                                                    <a class='btn btn-primary btn-xs' href="/index"><span
                                                            class="glyphicon glyphicon-minus"></span> Remover</a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="tab3default">Default 3</div>
                    <div class="tab-pane fade" id="tab4default">Default 4</div>
                    <div class="tab-pane fade" id="tab5default">Default 5</div>
                </div>
            </div>
        </div>
    </div>
</div>