<html>
<!--Hex Asign Modal-->
<div class="modal fade" id="asignModal" tabindex="-1" role="dialog" aria-labelledby="asignModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="asignModalLabel">Asignar Modal</h4>
            </div>
            <div class="modal-body">
                <div >
                    <label>Rawmatter:</label>
                    <label>{{rawmattercode}} - {{rawmattername}} Q.: {{rawmatterquantity}}</label>
                    <hr/>
                    <label>Categorya:</label>
                    <select class="form-control" id="categorySelect" [(ngModel)]="categorycode">
                        <option *ngFor="let category of categoryList" [value]="category.code">
                            {{category.code}}-{{category.name}}
                        </option>
                    </select>

                    <label>Seccion:</label>
                    <select class="form-control" id="seccionSelect" [(ngModel)]="seccionid">
                        <option *ngFor="let seccion of seccionList" [value]="seccion.id">
                            {{seccion.id}}-{{seccion.name}}
                        </option>
                    </select>
                    <label>
                        Cantidad
                    </label>
                    <input type="number" min="1" max="{{rawmatterquantity}}" class="form-control" [(ngModel)]="asignquantity" required/>
                </div>

            </div>
            <div class="modal-footer" align="right">

                    <a class="btn-primary btn-sm" (click)='asignModal(rawmattercode,categorycode,seccionid,asignquantity)' data-toggle="modal" data-target="#reciveModal" data-dismiss="modal">
                        Agregar
                    </a>

                    <!--<a class="navbar-link " href="#" [routerLink]="['/rawmatter/detail/'+details.rawmattercode.code]">-->
                        <!--<span class="glyphicon glyphicon-plus btn btn-success btn-sm">More</span>-->
                    <!--</a>-->
                    <a class="btn-primary btn-sm" data-toggle="modal" data-target="#reciveModal" data-dismiss="modal">
                        Regresar
                    </a>

            </div>
        </div>
    </div>
</div>

<!--Hex Ventana modal para editar -->
<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&amp;X;</button>
                <h4 class="modal-title" id="myModalLabel">Agregar producto a Seccion</h4>
            </div>
            <div class="modal-body">
                <label>ID</label>
                <label>Codigo</label>
                <label>Nombre</label>
                <label>Cantidad</label>
                <form #registerForm="ngForm" (ngSubmit)="onSubmit()">
                    <p>
                        <label>Quantity:</label>
                        <input TYPE="number" min="0" class="form-control" #quantity="ngForm" ngControl="quantity" [(ngModel)]="RAW.quantity" required />
                    </p>
                    <p>
                        <label>Precio por Unidad:</label>
                        <input TYPE="number" min="0" class="form-control" #quantity="ngForm" ngControl="quantity" [(ngModel)]="RAW.quantity" required />
                    </p>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn-primary" (click)='editMaterial(RAW.quantity)' data-dismiss="modal">
                    Add
                </button>
            </div>
        </div>
    </div>
</div>

<!--Hex Cancel Modal-->
<div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="cancelModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="cancelModalLabel">Cancel Modal</h4>
            </div>
            <div class="modal-body">
                Desea Cancelar el Pedido???
            </div>
            <div class="modal-footer">
                <div class="col-md-6">
                    <button class="btn-primary" (click)='cancelModal()' data-dismiss="modal">
                        Cancelar Pedido
                    </button>
                    <button class="btn-primary" data-dismiss="modal">
                        Regresar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Hex Recibe-->
<div class="modal fade" id="reciveModal" tabindex="-1" role="dialog" aria-labelledby="reciveModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="reciveModalLabel">Editar Modal</h4>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Cantidad</th>

                        <th>Codigo</th>
                        <th>Nombre</th>

                        <th class="text-center">Opcion</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let details of detailsList ">
                        <td>{{details.id}}</td>
                        <td>{{details.quantity}}</td>
                        <!--<td>{{details.unitprice}}</td>-->

                        <td>{{details.rawmattercode.code}}</td>
                        <td>{{details.rawmattercode.name}}</td>

                        <td class="text-center">
                            <a href="#" name="botonAsignModal-{{details.id}}" (click)='modalAsignOpen(details.rawmattercode.code,details.rawmattercode.name,details.quantity)'class="btn btn-danger btn-sm"
                               data-toggle="modal" data-target="#asignModal"  data-dismiss="modal" >
                                Asignar
                            </a>
                            <!--<a href="#" name="botonModal-{{details.id}}" class="btn btn-success btn-sm"-->
                               <!--data-toggle="modal" data-target="#basicModal" (click)='modalOpen(details.id,-->
                                                    <!--details.quantity,-->
                                                    <!--details.rawmattercode.code,-->
                                                    <!--details.rawmattercode.name-->
                                                <!--)'>-->
                                <!--Editar-->
                            <!--</a>-->
                        </td>
                    </tr>
                    </tbody>
                </table>


            </div>
            <div class="modal-footer">
                <div>
                    <!--<button class="btn-primary" (click)='editList(quantity,rawmatter.code)' data-dismiss="modal">-->
                        <!--Update-->
                    <!--</button>-->
                    <!--<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">-->
                    <!--Close-->
                    <!--</button>-->
                </div>
            </div>
        </div>
    </div>
</div>



<div class="col-md-12">
    <hr/>
    <h1>{{titulo}}:{{id}}</h1>

    <a *ngIf="ORDER.status == 0">
        {{ORDER.status}} Pendiente
    </a>
    <a *ngIf="ORDER.status == 1">
        {{ORDER.status}} Recibido
    </a>
    <a *ngIf="ORDER.status == -1">
        {{ORDER.status}} Cancelado
    </a>

    <!--<span>{{orderdata.receptiondate.timestamp}}</span>-->

    <hr/>
    <div class="container">
        <div class="row">
            <div class="panel">
                <div class="panel-heading">
                    Comentario
                </div>
                <div class="panel-body">
                    {{ORDER.description}}
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="panel with-nav-tabs panel-default">
                <div class="panel-heading">
                    <a>Registerdate: {{ORDER.registerdate * 1000 | date:'short'}}  --  </a>
                    <a>Deliverdate: {{ORDER.deliverdate * 1000 | date:'short'}}</a>
                    <!--<a *ngIf="ORDER.receptiondate != null">Receptiondate {{ORDER.receptiondate * 1000 | date:'short'}}</a>-->
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tabIndex">

                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Cantidad</th>

                                            <th>Codigo</th>
                                            <th>Nombre</th>
                                            <th>Price</th>

                                            <th class="text-center">Opcion</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let details of detailsList ">
                                            <td>{{details.id}}</td>
                                            <td>{{details.quantity}}</td>
                                            <!--<td>{{details.unitprice}}</td>-->

                                            <td>{{details.rawmattercode.code}}</td>
                                            <td>{{details.rawmattercode.name}}</td>
                                            <td>{{details.unitprice}}</td>

                                            <td class="text-center">
                                                <a class="navbar-link " href="#" [routerLink]="['/rawmatter/detail/'+details.rawmattercode.code]">
                                                    <span class="glyphicon glyphicon-plus btn btn-success btn-sm">More</span>
                                                </a>
                                                <a href="#" name="botonModal-{{details.id}}" class="btn btn-success btn-sm"
                                                    data-toggle="modal" data-target="#basicModal" (click)='modalOpen(details.id,
                                                    details.quantity,
                                                    details.rawmattercode.code,
                                                    details.rawmattercode.name,
                                                    details.price
                                                )'>
                                                    Editar
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Rawmatter Code</th>
                                    <th>Category Code</th>
                                    <th>Quantity</th>
                                    <th>ID Seccion</th>

                                    <th class="text-center">Opcion</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let asign of asignList">
                                    <td>{{asign.rawmatter}}</td>
                                    <td>{{asign.code}}</td>
                                    <td>{{asign.quantity}}</td>

                                    <td>{{asign.seccionid}}</td>

                                    <!--this.asignList.push({'code':categorycode,'seccionid':seccionid,'quantity':quantity});-->
                                    <td class="text-center">
                                        <a href="#" name="botonAsignModal-{{asign.code}}" class="btn btn-danger btn-sm" >
                                            Boton
                                        </a>

                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <div class="panel-footer"align="right">
                    <a *ngIf="ORDER.status == 0">
                        <a class="btn btn-success btn-sm" (click)='asignOrder()'>
                            Asignar pedido
                        </a>
                        <a href="#" name="botonCantelModal" class="btn btn-danger btn-sm"
                           data-toggle="modal" data-target="#cancelModal" >
                            Cancelar
                        </a>
                        <a href="#" name="botonReciveModal" class="btn btn-success btn-sm"
                           data-toggle="modal" data-target="#reciveModal" >
                            Recibir
                        </a>

                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</html>