<html>
<!--Hex ADD TO LIST-->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Add Matter</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-6">
                    <div class="col-md-6">
                        <label>Codigo</label>
                        <label>{{rawmatter.code}}</label>
                        <label>Nombre</label>
                        <label>{{rawmatter.name}}</label>
                    </div>
                    <div class="col-md-6">
                        <label>Cantidad</label>
                        <input type="number"  min="1" name="quantity"      [(ngModel)]="quantity">
                    </div>
                    <div class="col-md-6">
                        <label>Precio estimado de compra</label>
                        <input type="number"  min="0.01" name="price"      [(ngModel)]="price">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-6">
                    <button class="btn-primary" (click)='addToList(quantity,price)' data-dismiss="modal">
                        Update
                    </button>
                    <!--<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">-->
                        <!--Close-->
                    <!--</button>-->
                </div>
            </div>
        </div>
    </div>
</div>
<!--Hex-->

<!--Hex-->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="editModalLabel">Editar Modal</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-6">
                    <div class="col-md-6">
                        <label>Codigo</label>
                        <label>{{rawmatter.code}}</label>
                        <label>Nombre</label>
                        <label>{{rawmatter.name}}</label>
                    </div>
                    <div class="col-md-6">
                        <label>Cantidad</label>
                        <input type="number"  min="1" name="price"      [(ngModel)]="quantity">
                    </div>
                    <div class="col-md-6">
                        <label>Precio estimado de compra</label>
                        <input type="number"  min="0.01" name="price"      [(ngModel)]="price">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-6">
                    <button class="btn-primary" (click)='editList(quantity,price,rawmatter.code)' data-dismiss="modal">
                        Update
                    </button>
                    <!--<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">-->
                    <!--Close-->
                    <!--</button>-->
                </div>
            </div>
        </div>
    </div>
</div>
<!--Hex-->

<div class="col-md-12">

    <hr/>
    <h1>{{titulo}}</h1>
    <hr/>

    <div class="container">
        <div class="row">
            <div class="panel with-nav-tabs panel-default">
                <div class="panel-heading">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tabIndex" data-toggle="tab">Index</a></li>
                        <li><a href="#tabNew" data-toggle="tab">Nuevos</a></li>
                        <!--Pestaña para Editar remover o no remover?-->
                        <!--<li><a href="#tabEdit" data-toggle="tab">Editar</a></li>-->
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tabIndex">
                            Index
                            <div class="container">
                                <div>
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <td>id</td>
                                            <td>registerdate</td>
                                            <td>deliverdate</td>
                                            <td>receptiondate</td>
                                            <td>status</td>
                                            <th class="text-center">Opcion</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let order of orderList">
                                            <td>{{order.id}}</td>

                                            <td *ngIf="order.registerdate != null">{{order.registerdate.timestamp * 1000 |
                                                date:'short'}}
                                            </td>
                                            <td *ngIf="order.deliverdate != null">{{order.deliverdate.timestamp * 1000 |
                                                date:'short'}}
                                            </td>

                                            <td *ngIf="order.receptiondate != null">
                                                {{order.receptiondate.timestamp * 1000 | date:'short'}}
                                            </td>
                                            <td *ngIf="order.receptiondate == null">
                                                sin fecha
                                            </td>

                                            <td *ngIf="order.status == 0">
                                                {{order.status}} Pendiente
                                            </td>
                                            <td *ngIf="order.status == 1">
                                                {{order.status}} Recibido
                                            </td>
                                            <td *ngIf="order.status == -1">
                                                {{order.status}} Cancelado
                                            </td>
                                            <td class="text-center">
                                                <!--<a class='btn btn-info btn-xs' href="{{'/departmentcontent/'+department.id}}"><span
                                                            class="glyphicon glyphicon-edit"></span> More</a></td>-->
                                                <a class="navbar-link" href="#" [routerLink]="['/ordersdetails/'+order.id]">
                                                    <span class="glyphicon glyphicon-plus"></span>More
                                                </a>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tabNew">
                            <div>
                                <div class="col-lg-6">
                                    <label>Proveedor:</label>
                                    <select class="form-control" id="category" [(ngModel)]="orders.supplierid">
                                        <option *ngFor="let supplier of supplierList" [value]="supplier.id">
                                            {{supplier.id}}-{{supplier.businessname}}/{{supplier.tradename}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-lg-6">
                                    <label>Fecha estimada de entrega:  (25/04/2018 15:00)</label>
                                    <input id="date" class="form-control" placeholder="25/04/2018 15:00" [(ngModel)]="orders.deliverdate">
                                </div>
                                <div class="col-lg-6">
                                    <label>Comentario:</label>
                                    <input id="comment" class="form-control" placeholder="Comentario" type="text" [(ngModel)]="orders.descriprion"/>
                                </div>

                                <div class="col-lg-12">
                                    <table class="table table-striped custab">
                                        <thead>
                                        <tr>
                                            <th>Codigo</th>
                                            <th>Nombre</th>
                                            <th>Cantidad</th>
                                            <th>Precio</th>
                                            <th class="text-center">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let rawmatter of details">
                                            <td>{{rawmatter.code}}</td>
                                            <td>{{rawmatter.name}}</td>
                                            <td>{{rawmatter.quantity}}</td>
                                            <td>{{rawmatter.price}}</td>
                                            <td class="text-center">
                                                <a href="#"  name="botonModal-{{rawmatter.code}}"class="btn btn-success btn-sm" data-toggle="modal" data-target="#editModal"
                                                   (click)='modalAdd(rawmatter.code,rawmatter.name,rawmatter.description,rawmatter.price,rawmatter.minreorder,rawmatter.maxstock)'>
                                                    Editar
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-lg-12">
                                    <a class="btn btn-success btn-sm" (click)='createOrder(orders.supplierid,orders.deliverdate,orders.descriprion)'>
                                        Enviar pedido
                                    </a>
                                </div>
                            </div>
                            <div>
                                <hr/>
                                <div class="col-lg-6">
                                    <input id="inputCode" class="form-control" placeholder="Buscar" [(ngModel)]="rawmatter.code">
                                    <button class="glyphicon glyphicon-search btn btn-success btn-sm" (click)='searchRawmatter()'>
                                        Buscar
                                    </button>
                                    <button class="glyphicon glyphicon-search btn btn-success btn-sm" (click)='getRawmatter()'>
                                        Reset
                                    </button>
                                </div>
                                <hr/>
                            </div>
                            <div>
                                <table class="table table-striped custab">
                                    <thead>
                                    <tr>
                                        <th>Codigo</th>
                                        <th>Nombre</th>
                                        <th>Descripcion</th>

                                        <th>Precio</th>
                                        <th>Reorder Min</th>
                                        <th>maximo de Stock</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let rawmatter of rawmatterList">
                                        <td>{{rawmatter.code}}</td>
                                        <td>{{rawmatter.name}}</td>
                                        <td>{{rawmatter.description}}</td>

                                        <td>{{rawmatter.price}}</td>
                                        <td>{{rawmatter.minreorder}}</td>
                                        <td>{{rawmatter.maxstock}}</td>
                                        <td class="text-center">
                                            <a href="#"  name="botonModal-{{rawmatter.code}}"class="btn btn-success btn-sm" data-toggle="modal" data-target="#addModal"
                                               (click)='modalAdd(rawmatter.code,rawmatter.name,rawmatter.description,rawmatter.price,rawmatter.minreorder,rawmatter.maxstock)'>
                                                Add
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</html>