<hr/>
    <h1>{{titulo}}</h1>
<hr/>
<div class="container">
    <div class="row">
        <div class="panel with-nav-tabs panel-default">
            <div class="panel-heading">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tabIndex" data-toggle="tab">Index</a></li>
                    <li><a href="#tabNew" data-toggle="tab">Nuevos</a></li>
                </ul>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tabIndex">
                        <div class="container">
                            <div>
                                <table class="table table-striped custab">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Codigo</th>
                                            <th>Nombre</th>
                                            <th>Descripcion</th>
                                            <th>Stock</th>
                                            <th>Reorder Min</th>
                                            <th>maximo de Stock</th>
                                            <th class="text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let product of productList">
                                            <td>{{product.id}}</td>
                                            <td>{{product.codigo}}</td>
                                            <td>{{product.nombre}}</td>
                                            <td>{{product.descripcion}}</td>
                                            <td>{{product.stock}}</td>
                                            <td>{{product.reordenmin}}</td>
                                            <td>{{product.maximostock}}</td>
                                            <td class="text-center"><a class='btn btn-primary btn-xs' href="/index"><span
                                                class="glyphicon glyphicon-edit"></span> Edit</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                           </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tabNew">

                        <div class="alert alert-success" *ngIf="status == 'success'">
                            Producto registrado correctamente
                        </div>
                        <div class="alert alert-danger" *ngIf="status == 'error'">
                                No ha sido posible registrar el peoducto en la plataforma, intentalo más tarde.
                        </div>

                        <form #registerForm="ngForm" (ngSubmit)="onSubmit()">
                            <div class="col-md-5">
                                <p>
                                    <label>codigo:</label>
                                    <input type="codigo" class="form-control" #codigo="ngForm" ngControl="codigo"
                                        [(ngModel)]="product.codigo" required/>
                                    <span *ngIf="!codigo.valid">campo obligatorio</span>
                                </p>
                            </div>
                            <div class="col-md-5">
                                <p>
                                    <label>nombre:</label>
                                    <input type="nombre" class="form-control" #nombre="ngForm" ngControl="nombre"
                                        [(ngModel)]="product.nombre" required/>
                                    <span *ngIf="!nombre.valid">campo obligatorio</span>
                                </p>
                            </div>

                            <div class="col-md-5">
                                <p>
                                    <label>descripcion:</label>
                                    <textarea type="descripcion" class="form-control" style="resize:none"  rows="7" #descripcion="ngForm"
                                            ngControl="descripcion" [(ngModel)]="product.descripcion" required></textarea>
                                    <span *ngIf="!descripcion.valid">campo obligatorio</span>
                                </p>
                            </div>
                            <div align="center" class="col-lg-5">
                                <p align="center">
                                    <label>stock:</label>
                                    <input type="stock" class="form-control" #stock="ngForm" ngControl="stock"
                                       [(ngModel)]="product.stock"/>
                                </p>
                                <p align="center">
                                    <label>Reorden Minima:</label>
                                    <input type="reordenMin" class="form-control" #reordenMin="ngForm"
                                         ngControl="reordenMin" [(ngModel)]="product.reordenMin"/>
                                </p>
                                <p align="center">
                                    <label>Stock Maximo:</label>
                                    <input type="maximoStock" class="form-control" #maximoStock="ngForm" ngControl="maximoStock" [(ngModel)]="product.maximoStock"/>
                                </p>
                            </div>
                            <div class="col-md-10">
                                <input type="submit" value="Crear" class="btn btn-primary"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
