<html>
<hr/>
    <h1>{{titulo}}</h1>
<hr/>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Editar Seccion</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-6">
                    <div class="col-md-6">
                        <label>Codigo</label>
                        <input type="text"  name="codigo" [(ngModel)]="rawmatter.code">
                        <label>Nombre</label>
                        <input type="text"  name="name"   [(ngModel)]="rawmatter.name">
                    </div>
                    <div class="col-md-6">
                        <label>Precio</label>
                        <input type="text"  name="price"   [(ngModel)]="rawmatter.price">
                        <label>minimo de Stock</label>
                        <input type="text"  name="minReorder" [(ngModel)]="rawmatter.minReorder">
                        <label>Maximo de Stock</label>
                        <input type="text"  name="maxStock"   [(ngModel)]="rawmatter.maxStock">
                    </div>
                    <div class="col-md-6">
                        <label>Descripcion</label>
                        <textarea type="text"  name="description" [(ngModel)]="rawmatter.description"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-6">
                    <button class="btn-primary" (click)='editRawmatter()' data-dismiss="modal">
                        Update
                    </button>
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Hex-->

<div class="container">
    <div class="row">
        <div class="panel with-nav-tabs panel-default">
            <div class="panel-heading">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tabIndex" data-toggle="tab">Index</a></li>
                    <li><a href="#tabNew" data-toggle="tab">Nuevos</a></li>
                </ul>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tabIndex">
                        <div class="container">
                            <div>

                                <input id="inputCode" class="form-control" placeholder="Code" [(ngModel)]="rawmatter.code">
                                <button class="glyphicon glyphicon-search btn btn-success btn-sm" (click)='searchRawmatter()'>
                                    Buscar
                                </button>
                                <button class="glyphicon glyphicon-search btn btn-success btn-sm" (click)='getRawmatter()'>
                                    Reset
                                </button>
                                <table class="table table-striped custab">
                                    <thead>
                                    <tr>
                                        <th>Codigo</th>
                                        <th>Nombre</th>
                                        <th>Descripcion</th>

                                        <th>Precio</th>
                                        <th>Reorder Min</th>
                                        <th>maximo de Stock</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!--<tr *ngFor="#customer of customers | customerEmailFilter:email; #i = index">-->
                                    <!--<tr *ngFor="#rawmatter of rawmatterList |  rawmatterCodeFilter:searchCode">-->
                                    <tr *ngFor="let rawmatter of rawmatterList">
                                    <!--<tr *ngFor="#rawmatter of rawmatterList">-->
                                        <td>{{rawmatter.code}}</td>
                                        <td>{{rawmatter.name}}</td>
                                        <td>{{rawmatter.description}}</td>

                                        <td>{{rawmatter.price}}</td>
                                        <td>{{rawmatter.minreorder}}</td>
                                        <td>{{rawmatter.maxstock}}</td>
                                        <td class="text-center">
                                            <a href="#"  name="botonModal-{{rawmatter.code}}"class="glyphicon glyphicon-edit btn btn-success btn-sm" data-toggle="modal" data-target="#editModal"
                                               (click)='modalEdit(rawmatter.code,rawmatter.name,rawmatter.description,rawmatter.price,rawmatter.minreorder,rawmatter.maxstock)'>
                                                Edit
                                            </a>
                                            <a class="navbar-link glyphicon glyphicon-edit btn btn-success btn-sm" href="#" [routerLink]="['/category/'+rawmatter.code]">
                                                <span>More</span>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tabNew">

                        <form #registerForm="ngForm" (ngSubmit)="onSubmit()">
                            <div class="col-md-5">
                                <p>
                                    <label>codigo:</label>
                                    <input type="code" class="form-control" #code="ngForm" ngControl="code"
                                           [(ngModel)]="rawmatter.code" required/>
                                    <span *ngIf="!code.valid">campo obligatorio</span>
                                </p>
                            </div>
                            <div class="col-md-5">
                                <p>
                                    <label>nombre:</label>
                                    <input type="name" class="form-control" #name="ngForm" ngControl="name"
                                           [(ngModel)]="rawmatter.name" required/>
                                    <span *ngIf="!name.valid">campo obligatorio</span>
                                </p>
                            </div>
                            <div class="col-md-5">
                                <p>
                                    <label>descripcion:</label>
                                    <textarea type="description" class="form-control" style="resize:none" rows="7"
                                              #description="ngForm"
                                              ngControl="description" [(ngModel)]="rawmatter.description"
                                              required></textarea>
                                    <span *ngIf="!description.valid">campo obligatorio</span>
                                </p>
                            </div>
                            <div align="center" class="col-lg-5">
                                <p align="center">
                                    <label>precio:</label>
                                    <input type="price" class="form-control" #price="ngForm" ngControl="price"
                                           [(ngModel)]="rawmatter.price"/>
                                </p>
                                <p align="center">
                                    <label>Reorden Minima:</label>
                                    <input type="minReorder" class="form-control" #minReorder="ngForm"
                                           ngControl="minReorder" [(ngModel)]="rawmatter.minReorder"/>
                                </p>
                                <p align="center">
                                    <label>Stock Maximo:</label>
                                    <input type="maxStock" class="form-control" #maxStock="ngForm"
                                           ngControl="maxStock" [(ngModel)]="rawmatter.maxStock"/>
                                </p>
                            </div>
                            <div class="col-md-10">
                                <input type="submit" value="Crear" class="btn btn-primary"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>