<div class="col-md-12">
    <hr/>
    <h1>{{titulo}}</h1>
    <hr/>

    <div class="panel panel-success">
        <div class="panel-heading">Ventas</div>
        <div class="panel-body">
            <form>
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-md-6">
                            <label>Cliente:</label>

                            <div id="custom-search-input">
                                <div class="input-group col-md-12">
                                    <input type="text" class="form-control input-lg" placeholder="Buscar" />
                                    <span class="input-group-btn">
                                            <button class="btn btn-info btn-lg" type="button">
                                                <i class="glyphicon glyphicon-search"></i>
                                            </button>
                                        </span>
                                </div>
                            </div>

                            <select class="selectpicker" data-live-search="true">
                                <option data-tokens="Mostrador">Mostrador</option>
                                <option data-tokens="Cliente01">Cliente01</option>
                                <option data-tokens="Cliente02">Cliente02</option>
                                <option data-tokens="Cliente03">Cliente03</option>
                                <option data-tokens="Cliente04">Cliente04</option>
                                <option data-tokens="Cliente05">Cliente05</option>
                            </select>

                        </div>

                        <div class="col-md-12">
                            <label>Envio:</label><input type="checkbox" ng-model="myVar">
                            <label>Direccion:</label><input type="text" class="form-control" id="usr">

                            <label>Detalles:</label><textarea class="form-control" rows="3" id="comments"></textarea>
                            <label>Mensaje:</label><textarea class="form-control" rows="5" id="comment"></textarea>
                        </div>

                    </div>
                </div>



                <div class="col-md-5">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Precio Venta</th>
                            <th>Accion</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>Mercancia 1</td>
                            <td>1000.00</td>
                            <td><a class='btn btn-info btn-xs' ><span
                                    class="glyphicon glyphicon-plus"></span>Add</a></td>

                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Mercancia 2</td>
                            <td>2000.00</td>
                            <td><a class='btn btn-info btn-xs' ><span
                                    class="glyphicon glyphicon-plus"></span>Add</a></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Mercancia 3</td>
                            <td>3000.00</td>
                            <td><a class='btn btn-info btn-xs' ><span
                                    class="glyphicon glyphicon-plus"></span>Add</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-5">
                    <div class="panel panel-info">
                        <div class="panel-heading">Mercancia Agregada</div>
                        <div class="panel-body">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Precio Venta</th>
                                    <th>Accion</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Mercancia 1</td>
                                    <td>1000.00</td>
                                    <td><a class='btn btn-info btn-xs' ><span
                                            class="glyphicon glyphicon-minus"></span>Remove</a></td>

                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Mercancia 2</td>
                                    <td>2000.00</td>
                                    <td><a class='btn btn-info btn-xs' ><span
                                            class="glyphicon glyphicon-minus"></span>Remove</a></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Mercancia 3</td>
                                    <td>3000.00</td>
                                    <td><a class='btn btn-info btn-xs' ><span
                                            class="glyphicon glyphicon-minus"></span>Remove</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="panel-footer">
                            Total = $ 6000.00
                            <button type="button" class="btn btn-success">Concluir</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>