<html>
<!--Hex Ventana modal para agregar PopUp-->
<!--<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">-->
<!--<div class="modal-dialog">-->
<!--<div class="modal-content">-->
<!--<div class="modal-header">-->
<!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&amp;X;</button>-->
<!--<h4 class="modal-title" id="myModalLabel">Agregar producto a Seccion</h4>-->
<!--</div>-->
<!--<div class="modal-body">-->
<!--<h3>C-Code: {{CoS.ccode}}</h3>-->
<!--<h3>C-nombre:  {{CoS.cname}}</h3>-->
<!--<h3>Rm-Code: {{CoS.rmcode}}</h3>-->
<!--<h3>Rm-nombre:  {{CoS.rmname}}</h3>-->
<!--<h1> Cantidad </h1>-->
<!--<input type="number" min="0" name="cantidad" [(ngModel)]="CoS.quantity">-->
<!--</div>-->
<!--<div class="modal-footer">-->
<!--<button class="btn-primary" (click)='addProduct(CoS.quantity)' data-dismiss="modal">-->
<!--Add-->
<!--</button>-->
<!--<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">-->
<!--Close-->
<!--</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--Hex-->

<hr/>
<h1>{{titulo}}</h1>
<hr/>

<div class="container">
    <div class="row">
        <div class="panel with-nav-tabs panel-default">
            <div class="panel-heading">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tabIndex" data-toggle="tab">Index</a></li>
                    <li><a href="#tabNew" data-toggle="tab">Nuevos</a></li>
                    <!--Pestaña para Editar remover o no remover?-->
                    <!--<li><a href="#tabEdit" data-toggle="tab">Editar</a></li>-->
                </ul>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tabIndex">
                        Index


                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Descripcion</th>
                                <th class="text-center">Opcion</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let seccion of seccionList">
                                <td>{{seccion.id}}</td>
                                <td>{{seccion.name}}</td>
                                <td>{{seccion.description}}</td>

                                <td class="text-center">
                                    <!--<a class='btn btn-info btn-xs' href="{{'/departmentcontent/'+department.id}}"><span
                                                class="glyphicon glyphicon-edit"></span> More</a></td>-->
                                    <a class='btn btn-info btn-xs' href="#"
                                       [routerLink]="['/seccioncontent/'+seccion.id]">
                                        <span class="glyphicon glyphicon-th-list"></span> More
                                    </a>

                                </td>
                            </tr>
                            </tbody>
                        </table>


                    </div>
                    <div class="tab-pane fade" id="tabNew">
                        <form #registerForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-5">
                            <p>
                                <label>Nombre:</label>
                                <input type="name" class="form-control" #name="ngForm" ngControl="name"
                                       [(ngModel)]="seccion.name" required/>
                                <span *ngIf="!name.valid">campo obligatorio</span>
                            </p>
                            <p>
                                <label>Descripcion:</label>
                                <input type="description" class="form-control" #description="ngForm"
                                       ngControl="description" [(ngModel)]="seccion.description" required/>
                                <span *ngIf="!description.valid">campo obligatorio</span>

                            </p>
                            <div class="col-md-10">
                                <input type="submit" value="Crear" class="btn btn-primary"/>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="tabEdit">
                        Edit
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</html>