<html>
<!--Hex Ventana modal para agregar PopUp-->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&amp;X;</button>
                <h4 class="modal-title" id="myAddModalLabel">Agregar producto a Seccion</h4>
            </div>
            <div class="modal-body">
                <h3>C-Code: {{CoS.code}}</h3>
                <h3>C-nombre: {{CoS.cname}}</h3>
                <h3>Rm-Code: {{CoS.rcode}}</h3>
                <h3>Rm-nombre: {{CoS.rmname}}</h3>
                <h1> Cantidad </h1>
                <input type="number" min="0" name="quantity" [(ngModel)]="CoS.quantity">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-primary btn-sm" (click)='addProduct(CoS.quantity)' data-dismiss="modal">
                    Add
                </button>
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<!--Hex-->
<!--Hex Ventana modal para editar PopUp-->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&amp;X;</button>
                <h4 class="modal-title" id="myEditModalLabel">Editar Materia</h4>
            </div>
            <div class="modal-body">
                <!--console.log(id,quantity,ccode,cname,cmatter);-->
                <h3>IDr: {{CoS.idr}}</h3>
                <h3>C-Code: {{CoS.code}}</h3>
                <h3>C-nombre: {{CoS.cname}}</h3>
                <h3>Rm-Code: {{CoS.rcode}}</h3>
                <h1> Cantidad </h1>
                <input type="number" min="0" name="quantity" [(ngModel)]="CoS.quantity">
                <span *ngIf="CoS.quantity == 0"><a>Esto eliminara el material</a></span>
                <span *ngIf="CoS.quantity < 0"><a>Cantidad no valida</a></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-primary btn-sm" (click)='editProduct(CoS.quantity)' data-dismiss="modal">
                    Add
                </button>
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<!--Hex-->
<div class="col-md-12">
    <hr/>
    <h1>{{title}}</h1>
    <hr/>

    <div class="container">
        <div class="row">
            <div class="panel with-nav-tabs panel-default">
                <div class="panel-heading">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tabIndex" data-toggle="tab">Index</a></li>
                        <li><a href="#tabNew" data-toggle="tab">Agregar</a></li>
                        <!--Pestaña para Editar remover o no remover?-->
                        <!--<li><a href="#tabEdit" data-toggle="tab">Editar</a></li>-->
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade" id="tabNew">
                            add
                            <table class="table table-striped custab">
                                <thead>
                                <tr>
                                    <th>Code</th>
                                    <th>Nombre</th>
                                    <th>CategoryCode</th>
                                    <th>CategoryName</th>


                                    <th class="text-center">Action</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr *ngFor="let categoryL of rawwmatterList;let i=index">
                                    <td>{{categoryL.rawmattercode.code}}</td>
                                    <td>{{categoryL.rawmattercode.name}}</td>
                                    <td>{{categoryL.code}}</td>
                                    <td>{{categoryL.name}}</td>

                                    <td class="text-center">
                                        <a href="#" name="botonModal-{{i}}" class="btn btn-success btn-sm"
                                           data-toggle="modal" data-target="#addModal" (click)='modalAddOpen(categoryL.rawmattercode.code,
                                            categoryL.rawmattercode.name,
                                            categoryL.code,
                                            categoryL.name
                                            )'>
                                            Agregar
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="tabEdit">
                            Edit
                        </div>
                        <div class="tab-pane fade in active" id="tabIndex">

                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>IDr</th>
                                    <th>Cantidad</th>
                                    <th>Codigo Categoria</th>
                                    <th>Nombre</th>
                                    <th>Codigo Rawmatter</th>
                                    <th>descripcion</th>
                                    <th>Precio</th>
                                    <th class="text-center">Opcion</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr *ngFor="let category of categoryList">
                                    <td>{{category.id}}</td>
                                    <td>{{category.quantity}}</td>
                                    <td>{{category.categorycode.code}}</td>
                                    <td>{{category.categorycode.name}}</td>
                                    <td>{{category.categorycode.rawmattercode.code}}</td>
                                    <td>{{category.categorycode.rawmattercode.name}}</td>
                                    <td>{{category.categorycode.rawmattercode.price}}</td>

                                    <td class="text-center">
                                        <a href="#" name="botonModal-{{i}}" class="btn btn-success btn-sm"
                                            data-toggle="modal" data-target="#editModal" (click)='modalEditOpen(
                                                category.id,
                                                category.quantity,
                                                category.categorycode.code,
                                                category.categorycode.name,
                                                category.categorycode.rawmattercode.code,
                                                category.categorycode.rawmattercode.name
                                            )'>
                                            <!--id,quantity,ccode,cname,cmatter-->
                                            Editar
                                        </a>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>

