<html>


<!--Hex Ventana modal para agregar PopUp-->
<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&amp;X;</button>
                <h4 class="modal-title" id="myModalLabel">Agregar producto a Seccion</h4>
            </div>
            <div class="modal-body">
                <form #registerForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-12">
                    <p>
                        <label>Nombre Comercial:</label>
                        <input type="tradename" class="form-control" #tradename="ngForm" ngControl="tradename" [(ngModel)]="SUP.tradename" required />
                        <span *ngIf="!tradename.valid">campo obligatorio</span>
                    </p>
                    <p>
                        <label>Razon Social:</label>
                        <input type="businessName" class="form-control" #businessName="ngForm" ngControl="businessName" [(ngModel)]="SUP.businessname" required />
                        <span *ngIf="!businessName.valid">campo obligatorio</span>
                    </p>
                    <p>
                        <label>Direccion:</label>
                        <input type="addres" class="form-control" #addres="ngForm" ngControl="addres" [(ngModel)]="SUP.addres" required />
                    </p>
                    <p>
                        <label>Persona de contacto:</label>
                        <input type="contactPerson" class="form-control" #contactPerson="ngForm" ngControl="contactPerson" [(ngModel)]="SUP.contactperson" required />
                    </p>
                    <p>
                        <label>Phone:</label>
                        <input type="phone" class="form-control" #phone="ngForm" ngControl="phone" [(ngModel)]="SUP.phone" required />
                    </p>
                    <p>
                        <label>email:</label>
                        <input type="email" class="form-control" #email="ngForm" ngControl="email" [(ngModel)]="SUP.email" required />
                    </p>
                    <p>
                        <label>Pagina Web:</label>
                        <input  class="form-control" #webpage="ngForm" ngControl="webpage" [(ngModel)]="SUP.webpage" required />
                    </p>
                    <p>
                        <label>RFC:</label>
                        <input type="rfc" class="form-control" #rfc="ngForm" ngControl="rfc" [(ngModel)]="SUP.rfc" required />
                    </p>
                    <p>
                        <label>Descripcion:</label>
                        <input type="description" class="form-control" #description="ngForm" ngControl="description" [(ngModel)]="SUP.description" required />
                    </p>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn-primary" (click)='supEdit()' data-dismiss="modal">
                    Edit
                </button>
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<!--Hex-->
<div class="col-md-12">
    <hr/>
    <h1>{{titulo}}</h1>
    <hr/>
    <div class="container">
        <div class="row">
            <div class="panel with-nav-tabs panel-default">
                <div class="panel-heading">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tabIndex" data-toggle="tab">Index</a></li>
                        <li><a href="#tabNew" data-toggle="tab">Nuevos</a></li>
                        <!--Pestaña para Editar remover o no remover?-->
                        <!--<li><a href="#tabEdit" data-toggle="tab">Editar</a></li>-->
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tabIndex">
                            <table class="table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Razon Social</th>
                                    <th>persona de contacto</th>
                                    <th>direccion</th>

                                    <th>telefono</th>
                                    <th>email</th>
                                    <th>paginaWeb</th>
                                    <th>RFC</th>
                                    <th>descripcion</th>

                                    <th class="text-center">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let supplier of supplierList;let i=index">
                                    <td>{{supplier.id}}</td>
                                    <td>{{supplier.tradename}}</td>
                                    <td>{{supplier.businessname}}</td>
                                    <td>{{supplier.contactperson }}</td>
                                    <td>{{supplier.addres}}</td>

                                    <td>{{supplier.phone}}</td>
                                    <td>{{supplier.email}}</td>
                                    <td>{{supplier.webpage}}</td>
                                    <td>{{supplier.rfc}}</td>
                                    <td>{{supplier.description}}</td>
                                    <td class="text-center">
                                        <a href="#" name="botonModal-{{i}}" class="btn btn-success btn-sm"
                                           data-toggle="modal" data-target="#basicModal" (click)='modalOpen(
                                            supplier.id,supplier.tradename,supplier.businessname,supplier.contactperson ,
                                            supplier.addres,supplier.phone,supplier.email,supplier.webpage,supplier.rfc,supplier.description
                                            )'>
                                            Editar
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="tabNew">
                            <form #registerForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-12">
                                <div class="col-lg-6">
                                    <p>
                                        <label>Nombre Comercial:</label>
                                        <input type="tradename" class="form-control" #tradename="ngForm" ngControl="tradename" [(ngModel)]="SUP.tradename" required />
                                        <span *ngIf="!tradename.valid">campo obligatorio</span>
                                    </p>
                                    <p>
                                        <label>Razon Social:</label>
                                        <input type="businessName" class="form-control" #businessName="ngForm" ngControl="businessName" [(ngModel)]="SUP.businessname" required />
                                        <span *ngIf="!businessName.valid">campo obligatorio</span>
                                    </p>
                                    <p>
                                        <label>Direccion:</label>
                                        <input type="addres" class="form-control" #addres="ngForm" ngControl="addres" [(ngModel)]="SUP.addres" required />
                                    </p>
                                    <p>
                                        <label>Persona de contacto:</label>
                                        <input type="contactPerson" class="form-control" #contactPerson="ngForm" ngControl="contactPerson" [(ngModel)]="SUP.contactperson" required />
                                    </p>
                                </div>
                                <div class="col-lg-6">
                                    <p>
                                        <label>Phone:</label>
                                        <input type="phone" class="form-control" #phone="ngForm" ngControl="phone" [(ngModel)]="SUP.phone" required />
                                    </p>
                                    <p>
                                        <label>email:</label>
                                        <input type="email" class="form-control" #email="ngForm" ngControl="email" [(ngModel)]="SUP.email" required />
                                    </p>
                                    <p>
                                        <label>Pagina Web:</label>
                                        <input  class="form-control" #webpage="ngForm" ngControl="webpage" [(ngModel)]="SUP.webpage" required />
                                    </p>
                                    <p>
                                        <label>RFC:</label>
                                        <input type="rfc" class="form-control" #rfc="ngForm" ngControl="rfc" [(ngModel)]="SUP.rfc" required />
                                    </p>
                                </div>
                                <div class="col-lg-12">
                                    <p>
                                        <label>Descripcion:</label>
                                        <input type="description" class="form-control" #description="ngForm" ngControl="description" [(ngModel)]="SUP.description" required />
                                    </p>
                                </div>
                                <div class="col-md-10">
                                    <input type="submit" value="Crear" class="btn btn-primary"/>
                                </div>
                            </form>


                        </div>
                        <div class="tab-pane fade" id="tabEdit">
                            Edit
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</html>